.divTerminalWindow {
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  margin: auto;
}

.divTerminalBody {
  position: absolute;
  width: 80%;
  height: 75%;
  left: 12%;
  top: 15%;
}

.divTerminalInput {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.imgTv {
  position: absolute;
  height: 105%;
  width: 105%;
  margin: auto;
  z-index: 2;
}

.hTerminalHeader {
  font-family: "Courier New";
  color: #32CD32;
}

.pTerminalText {
  font-family: "Courier New";
  color: #32CD32;
  font-size: 1.3em;
}

.pTerminalInputTextSolid {
  font-family: "Courier New";
  color: #32CD32;
  font-size: 1.3em;
  position: absolute;
  top: 0;
  margin: 0;
}

.inputTerminalInput {
  background-color: transparent;
  font-family: "Courier New";
  color: #32CD32;
  font-size: 1.3em;
  z-index: 2;
  border: 0px;
  position: absolute;
  top: 0;
  text-indent: 12rem;
  resize: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  -webkit-appearance: none;
}
.inputTerminalInput:focus {
  outline: none;
}
